@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Prata&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary-color: #2bcbba;
  --light-color: #d1d8e0;
  --grey-color: #687080;
  --red-color: #ff4757;
  --white-color: #ffffff;
  --flashwhite-color: #f1f2f6;
  --dark-color: #212121;

  --primary-font: "Monstserrat", sans-serif;
  --second-font: "Prata", sans-serif;
  --fs14: 14px;
  --fw600: 600;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-7xs: 6px;
}

body {
  font-family: var(--primary-font);
}
input {
  outline: 0;
  border: 0;
  color: var(--grey-color);
  background: transparent;
}
.button1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 165%;
  cursor: pointer;
}
.button2 {
  position: absolute;
  background-color: var(--primary-color);
  box-sizing: border-box;
}
.button2 {
  top: 480px;
  left: 400px;
  border-radius: var(--br-xs);
  width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-5xl);
  color: var(--dark-color);
}

.heroicons-outlinecheck {
  display: flex;
  position: absolute;
  height: 90%;
  width: 90%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.billing-address-is {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 165%;
  font-weight: 500;
}
.billing-addres-checkbox {
  position: absolute;
  top: 515px;
  left: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--grey-color);
  cursor: context-menu;
}
.box,
.label {
  align-self: stretch;
}
.label {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 165%;
}
.box {
  border-radius: var(--br-xs);
  background-color: var(--base-50);
  border: 1px solid var(--grey-color);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-base);
  color: var(--grey-color);
}
.bill-card {
  flex: 1;
  flex-direction: column;
}
.box,
.input-field,
.zip-code-and-city,
.excvv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.zip-code-and-city {
  position: absolute;
  top: 210px;
  left: 700px;
  width: 440px;
  flex-direction: row;
  gap: 24px;
}
.excvv {
  position: absolute;
  top: 420px;
  left: 200px;
  width: 440px;
  flex-direction: row;
  gap: 24px;
}
.vuesaxboldarrow-down-icon {
  position: relative;
  width: 20px;
  height: 30px;
  object-fit: cover;
}
.box2,
.input-field2,
.input-field3 {
  display: flex;
  justify-content: flex-start;
}
.box2 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--base-50);
  border: 1px solid var(--grey-color);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-2xs)
    var(--padding-base);
  gap: var(--gap-xs);
  color: var(--grey-coloe);
}
.input-field2 {
  position: absolute;
  top: 210px;
  left: 200px;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}

.input-field3 {
  position: absolute;
  left: 700px;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.input-field3 {
  top: 312px;
}
.vuesaxlinearadd-icon {
  position: relative;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.b,
.visa-icon {
  position: absolute;
}
.visa-icon {
  display: flex;
  top: 4px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.b {
  top: 15px;
  left: 48px;
  letter-spacing: 0.01em;
  line-height: 165%;
}
.visa {
  position: relative;
  width: 190px;
  height: 56px;
  border: 1px solid #000;
  border-radius: 10px;
}
.visa i {
  left: 20px;
  padding-right: 16px;
}
.visa b {
  left: 65px;
  font-size: 1rem;
}
.ppal b {
  left: 55px;
}
.paypal-icon {
  display: flex;
  position: absolute;
  top: 10px;
  width: 38px;
  height: 38px;
  overflow: hidden;
  object-fit: cover;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.divider {
  position: relative;
  border-right: 1px solid var(--grey-color);
  box-sizing: border-box;
  width: 1px;
  height: 13px;
}
.payment-method,
.type {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.payment-method {
  position: absolute;
  top: 312px;
  left: 200px;
  flex-direction: column;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.visa:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.flags-us {
  position: relative;
  width: 22.4px;
  height: 30px;
  object-fit: cover;
}
.box4 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--base-50);
  border: 1px solid var(--dark-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base);
  gap: var(--gap-xs);
}
.input-field4 {
  position: absolute;
  top: 105px;
  left: 700px;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.box5,
.input-field4,
.input-field5 {
  display: flex;
  justify-content: flex-start;
}
.box5 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--base-50);
  border: 1px solid var(--dark-color);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-2xs) var(--padding-base);
}
.input-field5 {
  position: absolute;
  top: 105px;
  left: 200px;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.container {
  background-color: var(--base-50);
  width: 100%;
  height: 100%;
  font-size: var(--body-medium-medium-size);
  font-family: var(--heading-24);
}

/*--------------------------------- MEDIA QUERY ---------------------------------*/
@media (max-width: 481px) {
  .input-field5 {
    width: 340px;
    left: 20px;
  }
  .input-field4 {
    top: 210px;
    width: 340px;
    left: 20px;
  }
  .input-field2 {
    top: 320px;
    left: 20px;
    width: 340px;
  }
  .payment-method {
    top: 540px;
    left: 20px;
  }
  .visa {
    width: 150px;
  }
  .ppal i {
    left: 25px;
  }
  .ppal b {
    visibility: hidden;
    position: relative;
    left: 60px;
  }
  .ppal:after {
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 20px;
    font-weight: 600;
    content: "Paypal";
  }
  .credit b {
    left: 55px;
    visibility: hidden;
    position: relative;
  }
  .credit:after {
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 20px;
    font-weight: 600;
    content: "Visa";
  }
  .zip-code-and-city {
    top: 430px;
    left: 20px;
    width: 340px;
  }
  .input-field3 {
    top: 650px;
    left: 20px;
    width: 340px;
  }
  .excvv {
    top: 750px;
    left: 20px;
    width: 340px;
  }
  .billing-addres-checkbox {
    top: 850px;
    left: 20px;
  }
  .button2 {
    top: 820px;
    left: 90px;
    width: 50%;
  }
}

@media (min-width: 568px) {
  .input-field5 {
    width: 250px;
    left: 50px;
  }
  .input-field4 {
    width: 250px;
    left: 350px;
    top: 105px;
  }
  .input-field2 {
    left: 50px;
    width: 550px;
    top: 210px;
  }
  .payment-method {
    top: 430px;
    left: 50px;
  }
  .zip-code-and-city {
    top: 320px;
    left: 50px;
    width: 550px;
  }
  .input-field3 {
    top: 540px;
    left: 50px;
    width: 550px;
  }
  .excvv {
    top: 650px;
    left: 50px;
    width: 550px;
  }
  .billing-addres-checkbox {
    top: 750px;
    left: 50px;
  }
  .button2 {
    top: 720px;
    left: 150px;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .input-field5 {
    width: 420px;
    left: 200px;
  }
  .input-field4 {
    width: 420px;
    left: 700px;
    top: 100px;
  }
  .input-field2 {
    left: 200px;
    width: 425px;
    top: 220px;
  }
  .payment-method {
    top: 330px;
    left: 200px;
  }
  .zip-code-and-city {
    top: 210px;
    left: 700px;
    width: 420px;
  }
  .input-field3 {
    top: 330px;
    left: 700px;
    width: 420px;
  }
  .excvv {
    top: 450px;
    left: 200px;
    width: 420px;
  }
  .billing-addres-checkbox {
    top: 550px;
    left: 200px;
  }
  .button2 {
    top: 520px;
    left: 30%;
  }
}
