@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lexend:400");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #2bcbba;
  --secondary-color: #717775;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --outlineinput-enabled: rgba(154, 168, 188, 1);
  --headline-small-font-family: "Lexend-SemiBold", Helvetica;
  --headline-small-font-weight: 600;
  --headline-small-font-size: 32px;
  --headline-small-letter-spacing: 0px;
  --headline-small-line-height: 36px;
  --headline-small-font-style: normal;

  --label-small-font-family: "Lexend-Medium", Helvetica;
  --label-small-font-weight: 500;
  --label-small-font-size: 12px;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 18px;
  --label-small-font-style: normal;

  --label-large-font-family: "Lexend-Medium", Helvetica;
  --label-large-font-weight: 500;
  --label-large-font-size: 16px;
  --label-large-letter-spacing: 0px;
  --label-large-line-height: 24px;
  --label-large-font-style: normal;

  --body-large-font-family: "Lexend-Regular", Helvetica;
  --body-large-font-weight: 400;
  --body-large-font-size: 16px;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: 24px;
  --body-large-font-style: normal;

  --body-medium-font-family: "Lexend-Regular", Helvetica;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 14px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 20px;
  --body-medium-font-style: normal;
}

.signup-desktop-c {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  padding: 16px;
  position: relative;
  background-color: var(--backgroundprimary);
}

.signup-desktop-c img {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  object-fit: cover;
  height: 37rem;
  width: 40rem;
  border-radius: 16px;
}

.signup-desktop-c .frame {
  flex-direction: column;
  width: 600px;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 40px 50px 300px 120px;
  background-color: var(--backgroundprimary);
  display: flex;
  position: relative;
  align-self: stretch;
}

.signup-desktop-c .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: var(--headline-small-font-family);
  font-weight: var(--headline-small-font-weight);
  color: var(--textprimary);
  font-size: var(--headline-small-font-size);
  letter-spacing: var(--headline-small-letter-spacing);
  line-height: var(--headline-small-line-height);
  font-style: var(--headline-small-font-style);
}

.signup-desktop-c .div {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.signup-desktop-c .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.signup-desktop-c .frame-2 {
  align-items: center;
  gap: 16px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.signup-desktop-c .label {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--label-small-font-family);
  font-weight: var(--label-small-font-weight);
  color: var(--text-dark);
  font-size: var(--label-small-font-size);
  letter-spacing: var(--label-small-letter-spacing);
  line-height: var(--label-small-line-height);
  font-style: var(--label-small-font-style);
}

.signup-desktop-c .input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--backgroundprimary);
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--outlineinput-enabled);
}

.signup-desktop-c .value {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: var(--textprimary);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.signup-desktop-c .input input {
  outline: none;
  border: 0;
}

.signup-desktop-c .label-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--label-small-font-family);
  font-weight: var(--label-small-font-weight);
  color: var(--textsecondary);
  font-size: var(--label-small-font-size);
  letter-spacing: var(--label-small-letter-spacing);
  line-height: var(--label-small-line-height);
  font-style: var(--label-small-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.signup-desktop-c .value-wrapper {
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--outlineinput-enabled);
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: var(--text-dark);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.signup-desktop-c .value-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: var(--text-dark);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.signup-desktop-c .div-3 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.signup-desktop-c .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.signup-desktop-c .checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.signup-desktop-c .group {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.signup-desktop-c .vector {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 6px;
  left: 4px;
}

.signup-desktop-c .p {
  font-weight: var(--body-large-font-weight);
  color: var(--text-dark);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  white-space: nowrap;
  font-style: var(--body-large-font-style);
}

.signup-desktop-c .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.signup-desktop-c .label-3 {
  font-weight: var(--label-large-font-weight);
  color: var(--white);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-large-font-family);
  font-size: var(--label-large-font-size);
  letter-spacing: var(--label-large-letter-spacing);
  line-height: var(--label-large-line-height);
  white-space: nowrap;
  font-style: var(--label-large-font-style);
}

.signup-desktop-c .frame-3 {
  align-items: center;
  gap: 12px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.signup-desktop-c .horizontal-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.signup-desktop-c .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: var(--text-light);
}

.signup-desktop-c .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--text-light);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-medium-font-style);
}

.signup-desktop-c .frame-4 {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  align-self: stretch;
}

.signup-desktop-c .button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  color: var(--text-dark);
  background-color: var(--extra-light);
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.signup-desktop-c .label-4 {
  font-weight: var(--label-large-font-weight);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-large-font-family);
  font-size: var(--label-large-font-size);
  letter-spacing: var(--label-large-letter-spacing);
  line-height: var(--label-large-line-height);
  white-space: nowrap;
  font-style: var(--label-large-font-style);
}

.signup-desktop-c .already-have-an {
  position: relative;
  align-self: stretch;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.signup-desktop-c .span {
  color: var(--text-light);
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-size: var(--body-medium-font-size);
}

.signup-desktop-c .text-wrapper-3 {
  color: var(--primary-color);
  text-decoration: underline;
  font-family: var(--body-medium-link-font-family);
  font-style: var(--body-medium-link-font-style);
  font-weight: var(--body-medium-link-font-weight);
  letter-spacing: var(--body-medium-link-letter-spacing);
  line-height: var(--body-medium-link-line-height);
  font-size: var(--body-medium-link-font-size);
}

@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
    background: #cbcbfc;
  }

  .signup-desktop-c {
    flex-direction: column;
    padding: 16px;
    align-items: center;
    background-image: url("./img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .signup-desktop-c img {
    display: none;
  }

  .signup-desktop-c .frame {
    border-radius: 20px;
    margin-top: 70%;
    width: 100%;
    padding: 40px 150px 16px 150px;
    background-color: #fff;
  }

  .signup-desktop-c .text-wrapper {
    text-align: center;
  }

  .signup-desktop-c .div,
  .signup-desktop-c .div-2,
  .signup-desktop-c .frame-2 {
    width: 100%;
  }

  .signup-desktop-c .input {
    padding: 12px 16px;
  }

  .signup-desktop-c .value-wrapper {
    padding: 12px 16px;
  }

  .signup-desktop-c .button,
  .signup-desktop-c .button-2 {
    padding: 10px 16px;
  }

  .signup-desktop-c .frame-4 {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .signup-desktop-c .button {
    margin-top: 1rem;
  }

  .signup-desktop-c .checkbox {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    overflow: auto;
  }

  .signup-desktop-c {
    flex-direction: column;
    padding: 16px;
    align-items: center;
  }

  .signup-desktop-c .checkbox {
    display: none;
  }

  .signup-desktop-c img {
    display: none;
  }

  .signup-desktop-c .frame {
    width: 100%;
    padding: 40px 16px 16px 16px;
  }

  .signup-desktop-c .text-wrapper {
    text-align: center;
  }

  .signup-desktop-c .div,
  .signup-desktop-c .div-2,
  .signup-desktop-c .frame-2 {
    width: 100%;
  }

  .signup-desktop-c .input {
    padding: 12px 16px;
  }

  .signup-desktop-c .value-wrapper {
    padding: 12px 16px;
  }

  .signup-desktop-c .button {
    margin-top: 1rem;
  }

  .signup-desktop-c .button,
  .signup-desktop-c .button-2 {
    padding: 10px 16px;
  }

  .signup-desktop-c .frame-4 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
